{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>        
        <q-btn unelevated color="primary" @click="cardDialog.show = true"
          >Register Existing BoltCard</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Cards</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="cards"
          row-key="uid"
          :columns="cardsTable.columns"
          :pagination.sync="cardsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>                               
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="deleteCard(props.row.uid)"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="editCard(props.row.uid)"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>   
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Nostr BoltCard Bot Controller extension
        </h6>
        <p>
          <strong
            >Allow users with BoltCards to manage them via Nostr
            bot</strong
          >
        </p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "nostrboltcardbot/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="cardDialog.show" position="top" @hide="closecardDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveCard" class="q-gutter-md">
        <q-input
          filled
          dense     
          emit-value     
          v-model.trim="cardDialog.data.uid"        
          type="text"
          label="Card UID *"
          placeholder="What is Card's unique identifier?"
        ></q-input>        
        <q-input
          filled
          dense
          emit-value
          v-model.trim="cardDialog.data.card_name"
          label="Card Name *"
          type="text"
          placeholder="Card Name to use with Nostr Bot"
        ></q-input>
        <q-input
          filled
          dense
          emit-value
          v-model.trim="cardDialog.data.npub"
          type="text"
          label="Nostr pubkey *"
          placeholder="Pubkey authorised to control the card"
        ></q-input>

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="cardDialog.data.uid == null || cardDialog.data.card_name == null || cardDialog.data.npub"
            type="submit"
            >Register Card</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="editcardDialog.show"
    position="top"
    @hide="closecardDialog"
  >
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveEditedCard" class="q-gutter-md">        
        <q-input
          filled
          dense
          v-model.trim="editcardDialog.data.card_name"
          label="Card Name"
          placeholder="What is new card name?"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="editcardDialog.data.npub"
          label="Pubkey"
          placeholder="What is new Nostr pubkey?"
        ></q-input>
        <div class="row q-mt-lg">
          <q-btn unelevated color="primary" type="submit">Update Card</q-btn>
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  var mapCard = function (obj) {
    obj.time = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )    

    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        cards: [],
        cardDialog: {
        show: false,
        data: {          
          uid: '',
          card_name: '',
          npub: ''
        },
        temp: {} 
      },      
        cardsTable: {
          columns: [
            {name: 'uid', align: 'left', label: 'UID', field: 'uid'},
            {name: 'card_name', align: 'left', label: 'Card Name', field: 'card_name'},
            {
              name: 'npub',
              align: 'left',
              label: 'Pubkey',
              field: 'npub'
            },            
            {name: 'time', align: 'left', label: 'Registered At', field: 'time'}
          ],
          pagination: {
            rowsPerPage: 10
          }
        },        
        cardDialog: {
          show: false,
          data: {}
        },
        editcardDialog: {
          show: false,
          data: {}
        }        
      }
    },
    methods: {     
      closecardDialog: function () {
        this.cardDialog.data = {}
      },      
      
      saveCard: function () {
        var data = this.cardDialog.data
        var self = this

        LNbits.api
          .request(
            'POST',
            '/nostrboltcardbot/api/v1/registercard',          
              _.inkey,
            data
          )
          .then(function (response) {
            self.cards.push(mapCard(response.data))

            self.cardDialog.show = false
            self.cardDialog.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      saveEditedCard: function () {
        var data = this.editcardDialog.data
        var self = this

        LNbits.api
          .request(
            'PUT',
            '/nostrboltcardbot/api/v1/cards',
            _.findWhere({
              uid: this.editcardDialog.data.uid
            }).inkey,
            data
          )
          .then(function (response) {
            self.editcardDialog.show = false
            self.editcardDialog.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      editCard: function (uid) {
        var self = this
        var data = _.findWhere(this.cards, {uid: uid})

        self.editcardDialog.show = true
        self.editcardDialog.data = data
      },
      deleteCard: function (uid) {
        var self = this
        var card = _.findWhere(this.cards, {uid: uid})

        LNbits.utils
          .confirmDialog('Are you sure you want to de-register this card?')
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/nostrboltcardbot/api/v1/cards/' + uid,
                _.findWhere({uid: uid}).adminkey
              )
              .then(function (response) {
                self.cards = _.reject(self.cards, function (obj) {
                  return obj.uid == uid
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      exportCSV: function () {
        LNbits.utils.exportCSV(this.cardsTable.columns, this.cards)
      }      
    },
    getCards: function () {
      var self = this

      LNbits.api
        .request(
          'GET',
          '/nostrboltcardbot/api/v1/cards'
        )
        .then(function (response) {
          self.cards = response.data.map(function (obj) {
            return mapCards(obj)
          })
        })        
    },
    created: function () {     
        this.getCards()     
    }    
  })
</script>
{% endblock %}