{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>   
        <q-btn unelevated color="primary" @click="accountDialog.show = true"
          >Add Nostr Bot Account</q-btn>            
        <q-btn unelevated color="primary" @click="relayDialog.show = true"
          >Add Nostr Relay</q-btn
        >
        <q-btn unelevated color="primary" @click="cardDialog.show = true"
        >Register Existing BoltCard</q-btn
      >
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Accounts</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportAccountsCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="accounts"
          row-key="id"
          :columns="accountsTable.columns"
          :pagination.sync="accountsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>                
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="deleteAccount(props.row.id)"
                ></q-btn>                
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Relays</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportRelaysCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="relays"
          row-key="id"
          :columns="relaysTable.columns"
          :pagination.sync="relaysTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>                
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="deleteRelay(props.row.id)"
                ></q-btn>                
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Cards</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCardsCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="cards"
          row-key="uid"
          :columns="cardsTable.columns"
          :pagination.sync="cardsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>                               
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="delete"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  @click="deleteCard(props.row.uid)"
                ></q-btn>               
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>   
  </div>

  <div class="col-12 col-md-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Nostr BoltCard Bot Extension
        </h6>
        <p>
          <strong
            >Allow BoltCard managament via Nostr account
            bot</strong
          >
        </p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "nostrboltcardbot/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="accountDialog.show" position="top" @hide="closeaccountDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveAccount" class="q-gutter-md">
        <q-input
          filled
          dense     
          emit-value     
          v-model.trim="accountDialog.data.nsec"        
          type="text"
          label="Nostr Account Nsec *"
          placeholder="What is Nostr Bot Account Private Key?"
        ></q-input>                

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="accountDialog.data.nsec == null"
            type="submit"
            >Add Nostr Bot Account</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
  
  <q-dialog v-model="relayDialog.show" position="top" @hide="closerelayDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveRelay" class="q-gutter-md">
        <q-input
          filled
          dense     
          emit-value     
          v-model.trim="relayDialog.data.url"        
          type="text"
          label="Relay URL (wss://) *"
          placeholder="Relay URL address to connect?"
        ></q-input>                

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="relayDialog.data.url == null"
            type="submit"
            >Add Relay</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="cardDialog.show" position="top" @hide="closecardDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveCard" class="q-gutter-md">
        <q-input
          filled
          dense     
          emit-value     
          v-model.trim="cardDialog.data.uid"        
          type="text"
          label="Card UID *"
          placeholder="What is Card's unique identifier?"
        ></q-input>        
        <q-input
          filled
          dense
          emit-value
          v-model.trim="cardDialog.data.card_name"
          label="Card Name *"
          type="text"
          placeholder="Card Name to use with Nostr Bot"
        ></q-input>
        <q-input
          filled
          dense
          emit-value
          v-model.trim="cardDialog.data.npub"
          type="text"
          label="Nostr pubkey *"
          placeholder="Pubkey authorised to control the card"
        ></q-input>

        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="cardDialog.data.uid == null || cardDialog.data.card_name == null || cardDialog.data.npub"
            type="submit"
            >Register Card</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog
    v-model="editcardDialog.show"
    position="top"
    @hide="closecardDialog"
  >
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="saveEditedCard" class="q-gutter-md">        
        <q-input
          filled
          dense
          v-model.trim="editcardDialog.data.card_name"
          label="Card Name"
          placeholder="What is new card name?"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="editcardDialog.data.npub"
          label="Pubkey"
          placeholder="What is new Nostr pubkey?"
        ></q-input>
        <div class="row q-mt-lg">
          <q-btn unelevated color="primary" type="submit">Update Card</q-btn>
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  Vue.component(VueQrcode.name, VueQrcode)
  var mapCard = function (obj) {
    obj.time = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )    

    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        cards: [],
        accounts: [],
        relays: [],
        accountDialog: {
        show: false,
        data: {
          id: '',                    
          nsec:''
        },
        temp: {}
      },
        relayDialog: {
        show: false,
        data: { 
          id:'',                   
          url:''
        },
        temp: {}
      },
        cardDialog: {
        show: false,
        data: {          
          uid: '',
          card_name: '',
          npub: ''          
        },        
        temp: {} 
      },   
      accountsTable: {
          columns: [            
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'nsec', align: 'left', label: 'Account', field: 'nsec'}
          ],
          pagination: {
            rowsPerPage: 10
          }
        }, 
        relaysTable: {
          columns: [   
            {name: 'id', align: 'left', label: 'ID', field: 'id'},         
            {name: 'url', align: 'left', label: 'URL', field: 'url'}            
          ],
          pagination: {
            rowsPerPage: 10
          }
        }, 
        cardsTable: {
          columns: [
            {name: 'uid', align: 'left', label: 'UID', field: 'uid'},
            {name: 'card_name', align: 'left', label: 'Card Name', field: 'card_name'},
            {
              name: 'npub',
              align: 'left',
              label: 'Pubkey',
              field: 'npub'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },        
        cardDialog: {
          show: false,
          data: {}
        },
        editcardDialog: {
          show: false,
          data: {}
        },
        accountDialog: {
          show: false,
          data: {}
        }, 
        relayDialog: {
          show: false,
          data: {}
        },      
      }
    },
    methods: {   
      closeaccountDialog: function () {
        this.accountDialog.data = {}
      },
      
      closerelayDialog: function () {
        this.relayDialog.data = {}
      },

      closecardDialog: function () {
        this.cardDialog.data = {}
      },      
      
      saveAccount: function () {
        var data = this.accountDialog.data
        var self = this

        LNbits.api
          .request(
            'POST',
            '/nostrboltcardbot/api/v1/account',          
              _.inkey,
            data
          )
          .then(function (response) {
            if (response.data != '') {
              self.accounts.push(mapCard(response.data)) 
            }
            self.accountDialog.show = false
            self.accountDialog.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      saveRelay: function () {
        var data = this.relayDialog.data
        var self = this

        LNbits.api
          .request(
            'POST',
            '/nostrboltcardbot/api/v1/relay',          
              _.inkey,
            data
          )
          .then(function (response) {
            if (response.data != '') {
            self.relays.push(mapCard(response.data))
            }

            self.relayDialog.show = false
            self.relayDialog.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      saveCard: function () {
        var data = this.cardDialog.data
        var self = this

        LNbits.api
          .request(
            'POST',
            '/nostrboltcardbot/api/v1/register',          
              _.inkey,
            data
          )
          .then(function (response) {
            if (response.data != '') {
            self.cards.push(mapCard(response.data))
            }

            self.cardDialog.show = false
            self.cardDialog.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      saveEditedCard: function () {
        var data = this.editcardDialog.data
        var self = this

        LNbits.api
          .request(
            'PUT',
            '/nostrboltcardbot/api/v1/cards?usr=' + this.g.user.id,
            _.findWhere({
              uid: this.editcardDialog.data.uid
            }).inkey,
            data
          )
          .then(function (response) {
            self.editcardDialog.show = false
            self.editcardDialog.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      editCard: function (uid) {
        var self = this
        var data = _.findWhere(this.cards, {uid: uid})

        self.editcardDialog.show = true
        self.editcardDialog.data = data
      },
      deleteAccount: function (id) {
        var self = this
        var account = _.findWhere(this.accounts, {id: id})

        LNbits.utils
          .confirmDialog('Are you sure you want to delete this Nostr account?')
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/nostrboltcardbot/api/v1/accounts/' + id,
                _.adminkey
              )
              .then(function (response) {
                self.accounts = _.reject(self.accounts, function (obj) {
                  return obj.id == id
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      deleteRelay: function (id) {
        var self = this
        var relay = _.findWhere(this.relays, {id: id})

        LNbits.utils
          .confirmDialog('Are you sure you want to delete this relay?')
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/nostrboltcardbot/api/v1/relays/' + id,
                _.adminkey
              )
              .then(function (response) {
                self.relays = _.reject(self.relays, function (obj) {
                  return obj.id == id
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      deleteCard: function (uid) {
        var self = this
        var card = _.findWhere(this.cards, {uid: uid})

        LNbits.utils
          .confirmDialog('Are you sure you want to de-register this card?')
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/nostrboltcardbot/api/v1/cards/' + uid,
                _.findWhere({uid: uid}).adminkey
              )
              .then(function (response) {
                self.cards = _.reject(self.cards, function (obj) {
                  return obj.uid == uid
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      exportAccountsCSV: function () {
        LNbits.utils.exportCSV(this.accountsTable.columns, this.accounts)
      },
      exportRelaysCSV: function () {
        LNbits.utils.exportCSV(this.relaysTable.columns, this.relays)
      },
      exportCardsCSV: function () {
        LNbits.utils.exportCSV(this.cardsTable.columns, this.cards)
      },
    getCards: function () {
      var self = this

      LNbits.api
        .request(
          'GET',
          '/nostrboltcardbot/api/v1/cards?usr=' + this.g.user.id,
          this.g.user.wallets[0].adminkey          
        )
        .then(function (response) {          
          self.cards = response.data.map(function (obj) {
            return mapCard(obj)
          })          
        })        
    },
    getAccounts: function () {
      var self = this

      LNbits.api
        .request(
          'GET',
          '/nostrboltcardbot/api/v1/accounts?usr=' + this.g.user.id,
          this.g.user.wallets[0].adminkey
        )
        .then(function (response) {
          self.accounts = response.data.map(function (obj) {
            return mapCard(obj)
          })
        })        
    },
    getRelays: function () {
      var self = this

      LNbits.api
        .request(
          'GET',
          '/nostrboltcardbot/api/v1/relays?usr=' + this.g.user.id,
          this.g.user.wallets[0].adminkey
        )
        .then(function (response) {
          self.relays = response.data.map(function (obj) {
            return mapCard(obj)
          })
        })        
    },
  },
    created: function () {  
        var self = this             
        this.getCards()
        this.getAccounts()
        this.getRelays()         
    }       
  })
</script>
{% endblock %}